*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --envelope-width: 300px;
  --envelope-color-top: #c3b1e1;
  --envelope-color-bottom: #aa90d5;
  --envelope-color-back: #977cc3;
  --envelope-color-side: #a088c7;
  --letter-color: #f3f0f8;
  /* --letter-color: #b4d3b2; */
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.envelope {
  width: var(--envelope-width);
  height: 200px;
  position: relative;
  background: var(--envelope-color);
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.envelope:hover .envelope-top {
  transform: rotateX(0);
  transition-delay: 0.3s;
  z-index: 2;
}
.envelope:hover .letter-content:not(.heading) {
  opacity: 1;
  transition-delay: 2.5s;
}
.letter {
  width: 90%;
  background: var(--letter-color);
  height: 200px;
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  transition-timing-function: ease;
  transition-duration: 1s;
  transition-property: height, width, transform, z-index, font-size;
  transition-delay: 1s, 1.5s, 2.2s, 1.5s, 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.envelope:hover .letter {
  transform: translate(-50%, -30vh);
  width: 70vw;
  height: 70vh;
  z-index: 7;
  font-size: 2em;
  transition-property: transform, width, height, z-index, font-size;
  transition-delay: 1s, 2s, 2s, 2s, 2s;
}

.envelope-top,
.envelope-bottom {
  width: var(--envelope-width);
  position: absolute;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
.envelope-top {
  top: -150px;
  transform: rotateX(180deg);
  transform-origin: bottom;
  border-bottom: 150px solid var(--envelope-color-top);
  z-index: 6;
  transition: all 1s ease-out 3s;
}

.envelope-bottom {
  transform-origin: top;
  border-bottom: 150px solid var(--envelope-color-bottom);
  z-index: 4;
  top: 50px;
}
.envelope-back {
  background: var(--envelope-color-back);
  height: 200px;
  z-index: 1;
  position: absolute;
  top: -0.1px;
  width: 100%;
}
.envelope-left,
.envelope-right {
  width: var(--envelope-width);
  position: absolute;
  border-top: 200px solid transparent;
  z-index: 4;
}
.envelope-left {
  left: 0;
  border-left: 200px solid var(--envelope-color-side);
}
.envelope-right {
  right: 0;
  border-right: 200px solid var(--envelope-color-side);
}
.envelope img {
  position: absolute;
  z-index: 7;
  height: 30px;
  width: 30px;
  max-width: 100%;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-out 3.5s;
  opacity: 1;
}
.envelope:hover img {
  transform: translate(-80%, 400%) rotateX(180deg);
  transition-delay: 0.1s;
  opacity: 0;
}
.letter-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 0.5em;
  font-size: 0.8em;
  transition: opacity 1.8s ease 0.2s;
}
.letter-content:not(.heading) {
  opacity: 0;
}
.letter-content * > {
  width: 100%;
}
